.noticias {
  background-color: rgb(1, 0, 1);
  /* width: 100%;*/
  height: 100vh;
  width: 44.9vw;
  position: relative;
  left: 27vw;
}

.home_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--lineas);
}

.home_ h2:first-child {
  color: var(--white);
  font-size: 1.2em;
  font-family: Roboto_B;
  margin: 10px 20px;
}

.home_ h2:last-child {
  color: var(--white);
  font-size: 0.6em;
  font-family: Roboto_R;
  margin: 10px 20px;
  cursor: pointer;
}

.publicar {
  display: flex;
  border-bottom: solid 1px var(--lineas);
}
.publish {
  width: 80%;
  height: 100%;
}

.escribir_twitit {
  height: 70%;
  border-bottom: 1px solid var(--lineas);
  padding-bottom: 5px;
}
.escribir_twitit textarea {
  width: 100%;
  height: 100%;
  margin: 20px 0px 1px 0px;
  border: 0;
  resize: none;
  font-size: 1.5em;
  font-family: Roboto_R;
  overflow: hidden;
  background-color: transparent;
  color: var(--white);
}

.escribir_twitit textarea:focus {
  border: 0;
  box-shadow: none;
  outline: none;
}

.everyone {
  color: var(--azul);
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 2em;
  width: 155px;
  padding-left: 10px;
  cursor: pointer;
  margin-bottom: 2px;
}

.everyone:hover {
  background: var(--gris);
}
.everyone,
.everyone .icono {
  color: var(--azul);
  font-family: Roboto_R;
  font-size: 0.8rem;
  margin: 2px 5px 0px 0px;
}

.user {
  width: 40px;
  height: 40px;
  background: #41a747;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-bottom: 5px;
  overflow: hidden;
}
.user .icono {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.opciones_twitit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.opciones_twitit .icono {
  margin: 20px 10px;
  padding: 0;
  font-size: 1.2em;
  color: var(--azul);
  cursor: pointer;
}

.opciones_twitit .twitear {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 1.2em;
  background-color: #1d9af1;
  width: auto;
  padding: 18px 20px;
  height: 30px;
  right: 0;
  margin: 10px 0px;
  cursor: pointer;
}
.opciones_twitit .twitear p {
  font-family: Roboto_B;
  font-size: 1em;
  cursor: pointer;
}

@media only screen and (max-width: 1324px) {
  .opciones_twitit .twitear {
    margin-right: 1rem;
  }
}
