.principal {
  background-color: rgb(1, 0, 1);
  /* width: 100%;*/
  height: 100vh;
  border-left: 1px solid var(--lineas);
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 2%;
  width: 29vw;
  position: fixed;
  right: 0vw;
}

.principal .barra .buscar {
  background-color: var(--gris);
  color: var(--gris);
  border-radius: 40px;
  color: var(--white);
  height: 50px;
  width: 70%;
  margin: 20px 0px;
  padding-left: 30px;
  box-shadow: none;
  outline: none;
  border: 1 solid var(--gris);
}

.barra .buscar::placeholder {
  padding: 2px 10px;
  font-family: Roboto_R;
}

.barra .buscar:active,
.barra .buscar:focus {
  box-shadow: none;
  outline: none;
  border: solid 0.1px var(--azul);
  background-color: transparent;
}

.noticias_post {
  background-color: var(--gris);
  width: 70%;
  height: 80%;
  border-radius: 2rem;
}

@media only screen and (max-width: 1024px) {
  .principal {
    display: none;
  }
}
