.noticias {
  background-color: rgb(1, 0, 1);
  /* width: 100%;*/
  height: 100vh;
  width: 44.9vw;
  position: relative;
  left: 27vw;
}

.user {
  width: 40px;
  height: 40px;
  background: #41a747;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-bottom: 5px;
  overflow: hidden;
}
.user .icono {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.socialIcon {
  font-size: 1em;
  color: var(--white);
  margin: 0 3em;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.socialIcon:first-child {
  margin: 0;
}
.socialIcon:last-child {
  margin: 0;
}

.socialIcon:hover {
  color: var(--azul);
}

.muro_noticias {
  background-color: #010001;
}

/* News content */

.noticia {
  display: grid;
  grid-template-columns: 10% 90%;
  width: 100%;
  height: auto;
  border: 1 solid var(--azul);
  border-bottom: 1px solid var(--lineas);
}

.noticia .user_ {
  padding: 20px 17px;
}
.contenido_noticia {
  padding: 20px 20px 20px 10px;
}
.contenido_noticia .user_name p {
  font-family: Roboto_B;
  font-size: 1.1em;
  color: var(--white);
}

.contenido_noticia .user_name p span {
  font-family: Roboto_L;
  font-size: 0.8em;
}

.contenido_noticia .user_name p span span {
  font-size: 0.95em;
  position: absolute;
  right: 5em;
}

.contenido_noticia .noticias_twetit {
  width: 100%;
  overflow-wrap: anywhere;
  padding: 20px 0px;
}
.contenido_noticia .noticias_twetit p {
  width: 100%;
  text-overflow: clip;
  white-space: initial;
  font-family: Roboto_R;
  font-size: 1em;
  color: var(--white);
  padding-right: 80px;
  line-height: 20px;
}

/* Scrollbar styling */

::-webkit-scrollbar {
  width: 14px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: hsl(90, 7%, 58%);
  -webkit-border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background-color: hsl(90, 7%, 40%);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

@media only screen and (max-width: 1024px) {
  .noticias {
    width: 275%;
  }
}

@media only screen and (max-width: 924px) {
  .noticias {
    width: 260%;
  }
}
