*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --white: #D9D8D8;
  --gris: #1b2025;
  --azul: #1D9AF1;
  --lineas: #42464b;
}

@font-face {
  font-family: "Roboto_L";
  src: url("./assets/Fonts/L_roboto.ttf");
}

@font-face {
  font-family: "Roboto_R";
  src: url("./assets/Fonts/R_roboto.ttf");
}
@font-face {
  font-family: "Roboto_B";
  src: url("./assets/Fonts/B_roboto.ttf");
}

.container{
  display: grid;
  grid-template-columns: 1fr 1.7fr 1fr;
}